.sku-search-container {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
  }
  
  .search-form {
    display: flex;
    width: 100%;
  }
  
  .search-input {
    width: 100%;
    padding: 10px;
    margin-right: 10px;
  }
  
  .btn-primary {
    padding: 10px 20px;
  }