.card.series {
    height: 100%;
    cursor: pointer;
  }
  .card.series:hover{
    border-color: var(--primary-color);
    color: var(--primary-color);
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1); /* Aquí replicas la clase shadow de Bootstrap */
}