:root {
  --primary-color: #0071ad;
  --black-60: #666666;
  --black-80: #333333;
  --black-30: #b2b2b2;
  --white: #fff;
  --black: #000;
  --font-lato: 'Lato', sans-serif;
}
.text-primary{
  color: var(--primary-color) !important;
}

/* General layout */
.content {
  max-width: 1320px;
  margin: 0 auto;
  padding: 0 15px;
}

/* Banner styles */
#cross-reference-header.banner {
  width: 100% !important;
  padding-top: 100px !important;
  max-height: 30vh !important;
  background: url('https://www.hayward.com/media/wysiwyg/faq-hero-back.jpeg') no-repeat center center !important;
  background-size: cover !important;
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
  z-index: 10 !important;
  transition: all 1s ease !important; /* Suave transición para el cambio de tamaño */
}

#cross-reference-header .banner-content {
  text-align: left !important;
  max-width: 1320px !important;
  width: 100% !important;
  margin: 0 auto !important;
  padding: 20px !important;
}

/* Ajustes de la transición del banner */
.banner-shrink {
  padding-top: 0px;
  max-height: 20vh;
}


#cross-reference-header .banner-content h2 {
  font-size: 2.5rem !important;
  margin-bottom: 0.5rem !important;
  color: #ffffff !important;
}

#cross-reference-header .banner-content p {
  font-size: 1.25rem !important;
  margin-bottom: 1rem !important;
  color: #ffffff !important;
}


/* Responsividad */
@media (max-width: 768px) {
  .banner-content h2 {
    font-size: 2rem;
  }
  
  .banner-content p {
    font-size: 1rem;
  }
}



